html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#offline-message {
    font-family: Noto Sans, sans-serif;
    font-size: medium;
}

.main-header {
    font-family:  Noto Sans, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(213, 180, 14);
}

#task-container {
    margin: 0 auto;
    min-width: calc(100vw - 40px);
    max-width: calc(100vw - 40px);
}

.task {
    font-family: Noto Sans, sans-serif;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

.task p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.add-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(233, 199, 4);
    border: none;
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.add-button:hover {
    background-color: rgb(213, 180, 14) !important;
}

.hidden {
    display: none !important;
}

#add-task-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.add-modal {
    font-family:  Noto Sans, sans-serif;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: calc(100vw/2);
    height: calc(100vw/3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
    text-align: justify;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.add-modal::-webkit-scrollbar {
    width: 8px;
}

.add-modal::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 4px;
}

.add-modal::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.new-task {
    text-align: center;
    width: 100%;
}

#content {
    width: 100%;
    height: calc(100%/3);
    font-size: 20px;
    border: none;
    overflow-y: auto;
    resize: none;
}

#content::-webkit-scrollbar {
    width: 8px;
}

#content::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 4px;
}
#content::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.modal-footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-button {
    width: 200px;
    height: 40px;
    background-color: rgb(233, 199, 4);
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.footer-button:hover {
    background-color: rgb(213, 180, 14) !important;
}

#view-task-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.view-modal {
    font-family:  Noto Sans, sans-serif;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: calc(100vw/2);
    height: calc(100vw/6);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    text-align: justify;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.view-modal::-webkit-scrollbar {
    width: 8px;
}

.view-modal::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 4px;
}

.view-modal::-webkit-scrollbar-thumb:hover {
    background: #888;
}

#view-task-content {
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

#view-task-content::-webkit-scrollbar {
    width: 8px;
}

#view-task-content::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 4px;
}

#view-task-content::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.icon {
    height: 20px;
    width: 20px;
}

.icon-container {
    position: absolute;
    right: 20px;
    top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.icon-container-left {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

#edit-task-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.edit-modal {
    font-family:  Noto Sans, sans-serif;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: calc(100vw/2);
    height: calc(100vw/3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
    text-align: justify;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#edit-content {
    width: 100%;
    height: calc(100%/3);
    font-size: 20px;
    border: none;
    overflow-y: auto;
    resize: none;
}

#edit-content::-webkit-scrollbar {
    width: 8px;
}

#edit-content::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 4px;
}
#edit-content::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.task.completed {
    background-color: #ddd;
    text-decoration: line-through;
}

#completed-task-container {
    margin-top: 20px;
    margin: 0 auto;
    min-width: calc(100vw - 40px);
    max-width: calc(100vw - 40px);
}

.toggle-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.toggle-icon {
    height: 20px;
    width: 20px;
    transition: transform 0.3s ease;
    margin-right: 8px;
}

.toggle-icon.up {
    transform: rotate(180deg);
}
#completed-tasks-count {
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
    color: #ddd;
}

.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    cursor: pointer;
    width: 60px;
    height: 30px;
    background-color: #ddd;
    border-radius: 30px;
    position: relative;
    transition: background-color 0.3s;
}

.toggle-slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: rgb(213, 180, 14);
}

.toggle-checkbox:checked + .toggle-label .toggle-slider {
    transform: translateX(30px);
}